<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta name="description" content="BookCast -  Miabart Afrik">
		<meta name="author" content="Miabart Afrik">
		<meta name="keywords" content="book artiste, castings artistique, agenda plus, concert en ligne, ">

		<!-- Favicon -->
		<link rel="icon" href="../assets/img/brand/favicon.ico" type="image/x-icon"/>

		<!-- Title -->
		<title>Prix &amp; distinctions | MiabartAfrik.com</title> 

		<!-- Bootstrap css-->
		<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

		<!-- Icons css-->
		<link href="../assets/plugins/web-fonts/icons.css" rel="stylesheet" />
		<link href="../assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
		<link href="../assets/plugins/web-fonts/plugin.css" rel="stylesheet" />
		<link href="../assets/css/icon-list.css" rel="stylesheet" />

		<!-- Style css-->		 
		<link href="../assets/css/bookcast.css" rel="stylesheet">
		<link href="../assets/css/preloader_miabartAfrik.css" rel="stylesheet">
		<link href="../assets/css/style.css" rel="stylesheet">
		<link href="../assets/css/skins.css" rel="stylesheet">
		<link href="../assets/css/dark-style.css" rel="stylesheet">
		<link href="../assets/css/colors/default.css" rel="stylesheet">

		<!-- Color css-->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/css/colors/color.css">

		<!-- Select2 css-->
		<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet">

		<!-- Mutipleselect css-->
		<link rel="stylesheet" href="../assets/plugins/multipleselect/multiple-select.css">

		<!-- Internal TelephoneInput css-->
		<link rel="stylesheet" href="../assets/plugins/telephoneinput/telephoneinput.css">

		<!-- Sidemenu css-->
		<link href="../assets/css/sidemenu/sidemenu.css" rel="stylesheet">

	</head>

	<body class="main-body leftmenu">

		<!-- Loader -->
		<div id="global-loader" class="miabartafrik_preloader_page">
			<img class="miabartafrik_preloader_logo" src="../assets/img/preloader.jpg">
		    <div class="miabartafrik_preloader_previewArea">
		        <div class="miabartafrik_preloader_ballPulse">
		            <div></div>
		            <div></div>
		            <div></div>
		        </div>
		    </div>
		</div> 
		<!-- End Loader -->


		<!-- Page -->
		<div class="page">

			<!-- Sidemenu -->
			<div class="main-sidebar main-sidebar-sticky side-menu">
				<div class="sidemenu-logo">
					<a class="main-logo" href="index.html">
						<img src="../assets/img/brand/logo-light.png" class="header-brand-img desktop-logo" alt="logo">
						<img src="../assets/img/brand/icon-light.png" class="header-brand-img icon-logo" alt="logo">
						<img src="../assets/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
						<img src="../assets/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
					</a>
				</div>
				<div class="main-sidebar-body">
					<ul class="nav">
						<li class="nav-header"><span class="nav-label">Tableau de board</span></li>
						<li class="nav-item">
							<a class="nav-link" href="tableau-de-board.html"><span class="shape1"></span><span class="shape2"></span><i class="ti-home sidemenu-icon"></i><span class="sidemenu-label">Tableau de board</span></a>
						</li> 

						<li class="nav-header"><span class="nav-label">Boîte de réception</span></li>
						 
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="ti-email sidemenu-icon"></i><span class="sidemenu-label">Mail</span><span class="badge badge-warning side-badge">2</span></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mail-inbox.html">Mail-Inbox</a>
								</li> 

								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mail-inbox-view.html">Voir - Mail </a>
								</li>
							</ul>
						</li>  

						<li class="nav-header"><span class="nav-label">Edition de Profil</span></li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="ti-panel sidemenu-icon"></i><span class="sidemenu-label">Mon profil</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-general.html">Général</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-coordonnees.html">Coordonnées</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-formation.html">Formations</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-experiences.html">Expériences</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-prix-disctinctions.html">Prix et Distinctions</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="edit-mes-aptitudes.html">Aptitudes</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="upload-mes-medias.html">Médias</a>
								</li> 
							</ul>
						</li>

						<li class="nav-header"><span class="nav-label">BookCast</span></li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="si si-people sidemenu-icon"></i><span class="sidemenu-label">Book</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mon-book.html">Mon book</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="contact.html">Mes Contacts</a>
								</li>  
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="ti-video-clapper sidemenu-icon"></i><span class="sidemenu-label">Castings</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="cast-encours.html">Mes castings en cours</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="cast-participate.html">Castings participés</a>
								</li> 
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="si si-graduation sidemenu-icon"></i><span class="sidemenu-label">Réseaux artistique</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mes-reseaux.html">Mes réseaux</a>
								</li> 
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="ti-announcement sidemenu-icon"></i><span class="sidemenu-label">Agenda+</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mes-events.html">Mes évènements</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="publier-event.html">Publier un évènement</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="tickets-event.html">Mes tickets</a>
								</li> 
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="ti-cup sidemenu-icon"></i><span class="sidemenu-label">Votes</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mesvotes.html">Mes votes</a>
								</li> 
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i class="si si-screen-desktop sidemenu-icon"></i><span class="sidemenu-label">NetConcert</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="fairedirect.html">Faire un direct</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mesnetconcerts.html">Mes netconcerts</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="mesgainnetconcert.html">Mes gains</a>
								</li> 
							</ul>
						</li> 						
					</ul>
				</div>
			</div>
			<!-- End Sidemenu -->

			<!-- Main Header-->
			<div class="main-header side-header sticky">
				<div class="container-fluid">
					<div class="main-header-left">
						<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
					</div>
					<div class="main-header-center">
						<div class="responsive-logo">
							<a href="index.html"><img src="../assets/img/brand/logo.png" class="mobile-logo" alt="logo"></a>
							<a href="index.html"><img src="../assets/img/brand/logo-light.png" class="mobile-logo-dark" alt="logo"></a>
						</div>
						<div class="input-group">
							<div class="input-group-btn search-panel">
								<select class="form-control select2-no-search">
									<option label="Catégories">
									</option>
									<option value="Bookcast">
										Bookcast
									</option>
									<option value="BoutikArt">
										BoutikArt
									</option>
									<option value="Bon-Adress">
										Bon-Adress
									</option> 
								</select>
							</div>
							<input type="search" class="form-control rounded-0" placeholder="Rechercher n'importe quoi...">
							<button class="btn search-btn"><i class="fe fe-search"></i></button>
						</div>
					</div>
					<div class="main-header-right">
						<div class="dropdown header-search">
							<a class="nav-link icon header-search">
								<i class="fe fe-search header-icons"></i>
							</a>
							<div class="dropdown-menu">
								<div class="main-form-search p-2">
									<div class="input-group">
										<div class="input-group-btn search-panel">
											<select class="form-control select2-no-search">
												<option label="Catégories">
												</option>
												<option value="Bookcast">
													Bookcast
												</option>
												<option value="BoutikArt">
													BoutikArt
												</option>
												<option value="Bon-Adress">
													Bon-Adress
												</option>
											</select>
										</div>
										<input type="search" class="form-control" placeholder="Rechercher n'importe quoi...">
										<button class="btn search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
									</div>
								</div>
							</div>
						</div>
						<div class="dropdown main-header-notification flag-dropdown">
							<a class="nav-link icon country-Flag">
								<svg xmlns="http://www.w3.org/2000/svg" height="480" width="640" viewBox="0 0 640 480"><g fill-rule="evenodd" stroke-width="1pt"><path fill="#fff" d="M0 0h640v480H0z"/><path fill="#00267f" d="M0 0h213.337v480H0z"/><path fill="#f31830" d="M426.662 0H640v480H426.662z"/></g></svg>
							</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item d-flex ">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/french_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Anglais</span>
									</div>
								</a>
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/germany_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Allemand</span>
									</div>
								</a>
							 
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/spain_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Espagnol</span>
									</div>
								</a>
							</div>
						</div>
						<div class="dropdown d-md-flex">
							<a class="nav-link icon full-screen-link" href="">
								<i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
								<i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
							</a>
						</div>
						<div class="dropdown main-header-notification">
							<a class="nav-link icon" href="">
								<i class="fe fe-bell header-icons"></i>
								<span class="badge badge-danger nav-link-badge">4</span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<p class="main-notification-text">Vous avez 1 notification non lue <span class="badge badge-pill badge-primary ml-3">Voir tout </span></p>
								</div>
								<div class="main-notification-list">
									<div class="media new">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
										<div class="media-body">
											<p>Féliciter  <strong>Folly ADOKPO</strong> pour le démarrage d'un nouveau film </p><span>15 octobre 12h32 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
										<div class="media-body">
											<p><strong>Joshua Gray</strong> Nouveau message reçu </p><span>13 octobre 02:56 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
										<div class="media-body">
											<p><strong>Elizabeth Lewis</strong> ajouter une nouvelle photo à sa galerie</p><span>12 octobre 22h40 </span>
										</div>
									</div>
								</div>
								<div class="dropdown-footer">
									<a href="#">Afficher toutes les notifications </a>
								</div>
							</div>
						</div>
						<div class="main-header-notification">
							<a class="nav-link icon" href="chat.html">
								<i class="fe fe-message-square header-icons"></i>
								<span class="badge badge-success nav-link-badge">6</span>
							</a>
						</div>
						<div class="dropdown main-profile-menu">
							<a class="d-flex" href="">
								<span class="main-img-user" ><img alt="avatar" src="../assets/img/artiste/artiste3-1.jpg"></span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<h6 class="main-notification-title">Agbodjan Tonou</h6>
									<p class="main-notification-text">Actrice</p>
								</div>
								<a class="dropdown-item border-top" href="profile.html">
									<i class="fe fe-user"></i> Mon profil 
								</a>
								<a class="dropdown-item" href="abonnement.html">
									<i class="fe fe-phone-call"></i> Mon abonnement 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-edit"></i> Editer le profil 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-settings"></i> Paramètres du compte 
								</a> 
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-compass"></i> Activité 
								</a>
								<a class="dropdown-item" href="signin.html">
									<i class="fe fe-power"></i> Se déconnecter 
								</a>
							</div>
						</div>
						<div class="dropdown d-md-flex header-settings">
							<a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
								<i class="fe fe-users color_miabart header-icons"></i>
							</a>
						</div>
						<button class="navbar-toggler navresponsive-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
							aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
						</button><!-- Navresponsive closed -->
					</div>
				</div>
			</div>
			<!-- End Main Header-->

			<!-- Mobile-header -->
			<div class="mobile-main-header">
				<div class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
					<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
						<div class="d-flex order-lg-2 ml-auto">
							<div class="dropdown header-search">
								<a class="nav-link icon header-search">
									<i class="fe fe-search"></i>
								</a>
								<div class="dropdown-menu">
									<div class="main-form-search p-2">
										<div class="input-group">
											<div class="input-group-btn search-panel">
												<select class="form-control select2-no-search">
													<option label="Toutes categories">
													</option>
													<option value="Books">
													Books
													</option>
													<option value="Castings">
														Castings
													</option>
													<option value="Réseaux artistique">
														Réseaux artistique
													</option>
													<option value="Agenda+">
														Agenda +
													</option>
													<option value="NetConcert">
														NetConcert
													</option>
												</select>
											</div>
											<input type="search" class="form-control" placeholder="Search for anything...">
											<button class="btn search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
										</div>
									</div>
								</div>
							</div>
							<div class="dropdown main-header-notification flag-dropdown">
							<a class="nav-link icon country-Flag">
								<svg xmlns="http://www.w3.org/2000/svg" height="480" width="640" viewBox="0 0 640 480"><g fill-rule="evenodd" stroke-width="1pt"><path fill="#fff" d="M0 0h640v480H0z"/><path fill="#00267f" d="M0 0h213.337v480H0z"/><path fill="#f31830" d="M426.662 0H640v480H426.662z"/></g></svg>
							</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item d-flex ">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/french_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Anglais</span>
									</div>
								</a>
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/germany_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Allemand</span>
									</div>
								</a>
							 
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/spain_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Espagnol</span>
									</div>
								</a>
							</div>
						</div>
						<div class="dropdown ">
							<a class="nav-link icon full-screen-link">
								<i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
								<i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
							</a>
						</div>
						<div class="dropdown main-header-notification">
							<a class="nav-link icon" href="">
								<i class="fe fe-bell header-icons"></i>
								<span class="badge badge-danger nav-link-badge">4</span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<p class="main-notification-text">Vous avez 1 notification non lue <span class="badge badge-pill badge-primary ml-3">Voir tout </span></p>
								</div>
								<div class="main-notification-list">
									<div class="media new">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
										<div class="media-body">
											<p>Félicitez <strong>Olivia James</strong> pour le nouveau modèle qui commence</p><span>le 15 octobre à 12h32</span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
										<div class="media-body">
											<p><strong>Joshua Gray</strong> Nouveau message reçu </p><span>13 octobre 02:56 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
										<div class="media-body">
											<p><strong>Elizabeth Lewis</strong> ajout d'une nouvelle version du calendrier </p><span>12 octobre 22h40 </span>
										</div>
									</div>
								</div>
								<div class="dropdown-footer">
									<a href="#">Afficher toutes les notifications</a>
								</div>
							</div>
						</div>
						<div class="main-header-notification mt-2">
							<a class="nav-link icon" href="chat.html">
								<i class="fe fe-message-square header-icons"></i>
								<span class="badge badge-success nav-link-badge">6</span>
							</a>
						</div>
						<div class="dropdown main-profile-menu">
							<a class="d-flex" href="#">
								<span class="main-img-user" ><img alt="avatar" src="../assets/img/users/artiste3-1.jpg"></span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<h6 class="main-notification-title">Agbodjan Tonou</h6>
									<p class="main-notification-text">Actrice</p>
								</div>
									<a class="dropdown-item border-top" href="profile.html">
									<i class="fe fe-user"></i> Mon profil 
								</a>
								<a class="dropdown-item" href="abonnement.html">
									<i class="fe fe-phone-call"></i> Mon abonnement 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-phone-call"></i> Editer le profil 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-settings"></i> Paramètres du compte 
								</a> 
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-compass"></i> Activité 
								</a>
								<a class="dropdown-item" href="signin.html">
									<i class="fe fe-power"></i> Se déconnecter 
								</a>
							</div>
						</div>
						<div class="dropdown  header-settings">
							<a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-right header-icons"><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></svg>
							</a>
						</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile-header closed -->

			<!-- Main Content-->
			<div class="main-content side-content pt-0">

				<div class="container-fluid">
					<div class="inner-body">

						<!-- Page Header -->
						<div class="page-header">
							<div>
								<h2 class="main-content-title tx-24 mg-b-5">PRIX & DISTINCTIONS</h2>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Edition de Profil </a></li>
									<li class="breadcrumb-item active" aria-current="page">Mes prix & Disctinctions</li>
								</ol>
							</div> 
						</div>
						<!-- End Page Header -->

						<!-- Row -->
						<div class="row row-sm">
							<div class="col-lg-12 col-md-12">
								<div class="card custom-card">
									<div class="card-body"> 
										<!-- page_header_dash -->
						<div class="page_header_dash">
							<div>
								<h2 class="main-content-title tx-24 mg-b-5">PRIX & DISTINCTIONS</h2> 
							</div>
							<div class="d-flex">
								<div class="justify-content-center">
									
									<button type="button" class="btn btn-primary my-2 btn-icon-text" data-target="#prixdistinction" data-toggle="modal">
									  <i class="fe fe-plus-square mr-2"></i> Ajouter un prix </button>
								</div>
							</div>
						</div>
						<!-- End page_header_dash -->
										<div class="row row-sm"> 

											<!-- Formation supérieure artistique professionnelle -->

											<div class="col-md-12"> 

												<div class="comedien-profile-form">
													<p class="comedien_no_data">Vous n'avez pas encore ajouté de formation.</p>
												</div>
 

											</div>

											<!-- end Formation supérieure artistique professionnelle --> 
										</div> 
 

									</div>

								</div>
							</div>
						</div>
						<!-- End Row -->

						 

					</div>
				</div>
			</div>
			<!-- End Main Content-->

			<!-- Main Footer--> 
			<div class="main-footer text-center"> 
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span><a href="faqs.html">Faqs</a> | <a href="termes.html">Conditions Générale</a> | <a href="termes.html">Termes</a> </span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->
			
			<!-- copyright_mba--> 
			<div class="copyright_mba text-center"> 
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span>Copyright © 2021 <a href="#">BookCast</a>. Conçu par <a href="https://www.osezconsult.com/">Osez Consult</a> Tous les droits sont réservés .</span>
						</div>
					</div>
				</div>
			</div>
			<!--End copyright_mba-->

			<!-- Sidebar -->
			<div class="sidebar sidebar-right sidebar-animate">
				<div class="sidebar-icon">
					<a href="#" class="text-right float-right text-dark fs-20" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
				</div>
				<div class="sidebar-body">
					<h5>MES CONTACTS</h5>

					<div class="card main-content-left main-content-left-contacts">
						<div class="tab-menu-heading">
							<div class="tabs-menu1 ">
								<!-- Tabs -->
								<ul class="nav panel-tabs main-nav-line main-nav-line-chat d-flex pl-3 ">
									<li><a href="#all-contact" class="nav-link active mr-3" data-toggle="tab">Tout</a></li>
									<li><a href="#fav-contact" class="nav-link" data-toggle="tab">Favorits</a></li>
								</ul>
							</div>
						</div>
						<div class="panel-body tabs-menu-body p-0">
							<div class="tab-content">
								<div class="tab-pane active" id="all-contact">
									<div class="main-contacts-list" id="mainContactList">
										<div class="main-contact-label">
											A
										</div>
										<div class="main-contact-item selected">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
											<div class="main-contact-body">
												<h6>Abla Dotse</h6><span class="phone">+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
											<div class="main-contact-body">
												<h6>Arabia AMEGANVI</h6><span>archie@cantones.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar online">
												A
											</div>
											<div class="main-contact-body">
												<h6>Allan Rey Palban</h6><span>allanr@palban.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-secondary">
												A
											</div>
											<div class="main-contact-body">
												<h6>Aileen Mante</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											B
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/4.jpg"></div>
											<div class="main-contact-body">
												<h6>Brandon Dilao</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
											<div class="main-contact-body">
												<h6>Britney Labares</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-danger">
												B
											</div>
											<div class="main-contact-body">
												<h6>Brateyley Cruz</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											C
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/6.jpg"></div>
											<div class="main-contact-body">
												<h6>Camille Audrey</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>Christian Lerio</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Christopher Segovia</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											D
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/9.jpg"></div>
											<div class="main-contact-body">
												<h6>Darius Clayton</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/10.jpg"></div>
											<div class="main-contact-body">
												<h6>Dyanne Aceron</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/11.jpg"></div>
											<div class="main-contact-body">
												<h6>Divina Gracia</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fav-contact">
									<div class="main-contacts-list" id="mainContactList1">
										<div class="main-contact-label">
											A
										</div>
										<div class="main-contact-item selected">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>Anna Sthesia</h6><span class="phone">+228-534-567-456</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Anna Mull</h6><span>annamul@gmail.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/4.jpg"></div>
											<div class="main-contact-body">
												<h6>AlFredo</h6><span>alfredo@gmail.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/11.jpg"></div>
											<div class="main-contact-body">
												<h6>Aileen Mante</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											B
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
											<div class="main-contact-body">
												<h6>Bernadette</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/9.jpg"></div>
											<div class="main-contact-body">
												<h6>Barry Mundy</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-danger">
												B
											</div>
											<div class="main-contact-body">
												<h6>Barb Akew</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											C
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/12.jpg"></div>
											<div class="main-contact-body">
												<h6>Charles</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Christopher</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
											<div class="main-contact-body">
												<h6>Connor</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											D
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/1.jpg"></div>
											<div class="main-contact-body">
												<h6>Deirdre</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Dorothy</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>AVORGNO YAWO</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
			    </div>
			</div>
			<!-- End Sidebar -->

			<!-- prix distinction content modal -->
			<div class="modal" id="prixdistinction">
				<div class="modal-dialog modal-dialog-scrollable" role="document">
					<div class="modal-content modal-content-demo">
						<div class="modal-header">
							<h6 class="modal-title">Ajouter un prix ou une disctinction</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">

							<div class="row row-sm text-left mb-2">

													<div class="col-lg-12 mg-t-20 mg-lg-t-0">
														<label for="" class="required-text mg-b-10 label_mba">
														Choisissez un métier
													    </label> 
														<div class="parsley-select" id="slWrapper">
														<select class="form-control select2" data-parsley-class-handler="#slWrapper" data-parsley-errors-container="#slErrorContainer" data-placeholder="Domaine artistique" required="">
															<option label="Domaine artistique">
															</option>
															<option value="Domaine artistique">
															   Domaine artistique
															</option>
															<option value="Domaine artistique">
																Domaine artistique
															</option>
															<option value="Domaine artistique">
																Domaine artistique
															</option>
														</select>
														<div id="slErrorContainer"></div>
													</div>
													</div><!-- Métiers artistiques --> 
 
													  
												</div>
							

							<div class="row row-sm text-left mb-2">
												<div class="col-lg-8 mg-t-20 mg-lg-t-0">
													<label for="" class="required-text mg-b-10 label_mba">
													Titre
												    </label> 
													<input class="form-control" placeholder="Titre de votre prix ou distinction" type="text">
												</div><!-- Domaines artistique principal --> 

												<div class="col-lg-4 mg-t-20 mg-lg-t-0">
														<label for="" class="required-text mg-b-10 label_mba">
														Année
													    </label> 
														<div class="parsley-select" id="slWrapper">
														<select class="form-control select2" data-parsley-class-handler="#slWrapper" data-parsley-errors-container="#slErrorContainer" data-placeholder="Année de début" required="">
															<option label="Année de début">
															</option>
															<option value="2001">
																2001
															</option>
															<option value="2002">
																2002
															</option>
															<option value="2003">
																2003
															</option>
														</select>
														<div id="slErrorContainer"></div>
													</div>
													</div><!-- Comptes artistiques -->
												 
							</div>

							 
						 


							<div class="row row-sm text-left mb-2">

													<div class="col-lg-12 mg-t-20 mg-lg-t-0">
														<label for="" class="required-text mg-b-10 label_mba">
														Domaines
													    </label> 
														<div class="parsley-select" id="slWrapper">
														<select class="form-control select2" data-parsley-class-handler="#slWrapper" data-parsley-errors-container="#slErrorContainer" data-placeholder="Année de début" required="">
															<option label="Année de début">
															</option>
															<option value="2001">
																2001
															</option>
															<option value="2002">
																2002
															</option>
															<option value="2003">
																2003
															</option>
														</select>
														<div id="slErrorContainer"></div>
													</div>
													</div><!-- Comptes artistiques --> 

													 
													  
												</div>
 
						</div>

						<p class="padd_left_mba">Les champs marqués d'un 
							<span class="required-text"></span> sont obligatoires
						</p>
						<div class="modal-footer">
							<button class="btn ripple btn-primary" type="button">SAUVEGARDE</button>
							<button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Fermer</button>
						</div>
					</div>
				</div>
			</div>
			<!--End prix distinction content modal --> 

		</div>
		<!-- End Page -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

		<!-- Jquery js-->
		<script src="../assets/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap js-->
		<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> 
		<!-- Internal Jquery-Ui js-->
		<script src="../assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

		<!-- Internal Jquery.maskedinput js-->
		<script src="../assets/plugins/jquery.maskedinput/jquery.maskedinput.js"></script>

		<!-- Internal Fileuploads js-->
		<script src="../assets/plugins/fileuploads/js/fileupload.js"></script>
        <script src="../assets/plugins/fileuploads/js/file-upload.js"></script>

		<!-- InternalFancy uploader js-->
		<script src="../assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
        <script src="../assets/plugins/fancyuploder/jquery.fileupload.js"></script>
        <script src="../assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
        <script src="../assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
        <script src="../assets/plugins/fancyuploder/fancy-uploader.js"></script>

		<!-- Internal Form-elements js-->
		<script src="../assets/js/advanced-form-elements.js"></script>
		<script src="../assets/js/select2.js"></script>

		<!-- Internal Form-elements js-->
		<script src="../assets/js/form-elements.js"></script>

		<!-- Internal TelephoneInput js-->
		<script src="../assets/plugins/telephoneinput/telephoneinput.js"></script>
		<script src="../assets/plugins/telephoneinput/inttelephoneinput.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Sidemenu js -->
		<script src="../assets/plugins/sidemenu/sidemenu.js"></script>

		<!--Bootstrap-datepicker js-->
		<script src="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

		<!-- Internal jquery-simple-datetimepicker js -->
		<script src="../assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

		<!-- Sidebar js -->
		<script src="../assets/plugins/sidebar/sidebar.js"></script>

		<!-- Select2 js-->
		<script src="../assets/plugins/select2/js/select2.min.js"></script>

		<!-- Sticky js -->
		<script src="../assets/js/sticky.js"></script>

		<!-- Modal js-->
		<script src="../assets/js/modal.js"></script>

		<!-- Custom js -->
		<script src="../assets/js/custom.js"></script>


	</body>
</html>