<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta name="description" content="BookCast -  Miabart Afrik">
		<meta name="author" content="Miabart Afrik">
		<meta name="keywords" content="book artiste, castings artistique, agenda plus, concert en ligne, ">

		<!-- Favicon -->
		<link rel="icon" href="../assets/img/brand/favicon.ico" type="image/x-icon"/>

		<!-- Title -->
		<title>Evènement encours | MiabartAfrik.com</title>

		<!-- Bootstrap css-->
		<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
 
		<!-- Icons css-->
		<link href="../assets/plugins/web-fonts/icons.css" rel="stylesheet" />
		<link href="../assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
		<link href="../assets/plugins/web-fonts/plugin.css" rel="stylesheet" />
		<link href="../assets/css/icon-list.css" rel="stylesheet" />

		<!-- Style css-->

		<link href="../assets/css/bookcast.css" rel="stylesheet">
		<link href="../assets/css/style.css" rel="stylesheet">
		<link href="../assets/css/skins.css" rel="stylesheet">
		<link href="../assets/css/dark-style.css" rel="stylesheet">
		<link href="../assets/css/colors/default.css" rel="stylesheet">

		<!-- Color css-->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/css/colors/color.css">

		<!-- Select2 css -->
		<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet">

		<!-- Internal Owl Carousel css-->
		<link href="../assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">

		<!-- Sidemenu css-->
		<link href="../assets/css/sidemenu/sidemenu.css" rel="stylesheet">

		<!-- Internal Gallery css-->
		<link href="../assets/plugins/gallery/gallery.css" rel="stylesheet">

	</head>

	<body class="horizontalmenu">

		<!-- Loader -->
		<div id="global-loader" class="miabartafrik_preloader_page">
			<img class="miabartafrik_preloader_logo" src="../assets/img/preloader.jpg">
		    <div class="miabartafrik_preloader_previewArea">
		        <div class="miabartafrik_preloader_ballPulse">
		            <div></div>
		            <div></div>
		            <div></div>
		        </div>
		    </div>
		</div> 
		<!-- End Loader -->

		<!-- Page -->
		<div class="page">

			<!-- Main Header-->
			<div class="main-header side-header">
				<div class="container">
					<div class="main-header-left">
						<a class="main-header-menu-icon d-lg-none" href="" id="mainNavShow"><span></span></a>
						<a class="main-logo" href="index.html">
							<img src="../assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
							<img src="../assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
						</a>
					</div>
					<div class="main-header-center">
						<div class="responsive-logo">
							<a href="index.html"><img src="../assets/img/brand/logo.png" class="mobile-logo" alt="logo"></a>
							<a href="index.html"><img src="../assets/img/brand/logo-light.png" class="mobile-logo-dark" alt="logo"></a>
						</div>
						<div class="input-group">
							<div class="input-group-btn search-panel">
								<select class="form-control select2-no-search">
									<option label="Toutes catégories">
									</option>
									<option value="Books">
										Books
									</option>
									<option value="Castings">
										Castings
									</option>
									<option value="Réseaux artistique">
										Réseaux artistique
									</option>
									<option value="Agenda+">
										Agenda +
									</option>
									<option value="NetConcert">
										NetConcert
									</option>
								</select>
							</div>
							<input type="search" class="form-control rounded-0" placeholder="Chercher n'importe quoi...">
							<button class="btn search-btn"><i class="fe fe-search"></i></button>
						</div>
					</div>
					<div class="main-header-right">
						<div class="dropdown header-search">
							<a class="nav-link icon header-search">
								<i class="fe fe-search"></i>
							</a>
							<div class="dropdown-menu">
								<div class="main-form-search p-2">
									<div class="input-group">
										<div class="input-group-btn search-panel">
											<select class="form-control select2-no-search">
												<option label="Toutes catégories">
												</option>
												<option value="Books">
													Books
												</option>
												<option value="Castings">
													Castings
												</option>
												<option value="Réseaux artistique">
													Réseaux artistique
												</option>
												<option value="Agenda+">
													Agenda +
												</option>
												<option value="NetConcert">
													NetConcert
												</option>
											</select>
										</div>
										<input type="search" class="form-control" placeholder="Chercher n'importe quoi...">
										<button class="btn search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
									</div>
								</div>
							</div>
						</div>
						<div class="dropdown main-header-notification flag-dropdown">
							<a class="nav-link icon country-Flag">
								<svg xmlns="http://www.w3.org/2000/svg" height="480" width="640" viewBox="0 0 640 480"><g fill-rule="evenodd" stroke-width="1pt"><path fill="#fff" d="M0 0h640v480H0z"/><path fill="#00267f" d="M0 0h213.337v480H0z"/><path fill="#f31830" d="M426.662 0H640v480H426.662z"/></g></svg>
							</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item d-flex ">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/french_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Anglais</span>
									</div>
								</a>
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/germany_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Allemand</span>
									</div>
								</a>
							 
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/spain_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Espagnol</span>
									</div>
								</a>
							</div>
						</div>
						<div class="dropdown d-md-flex">
							<a class="nav-link icon full-screen-link" href="">
								<i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
								<i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
							</a>
						</div>
						<div class="dropdown main-header-notification">
							<a class="nav-link icon" href="">
								<i class="fe fe-bell header-icons"></i>
								<span class="badge badge-danger nav-link-badge">4</span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<p class="main-notification-text">Vous avez 1 notification non lue <span class="badge badge-pill badge-primary ml-3">Voir tout </span></p>
								</div>
								<div class="main-notification-list">
									<div class="media new">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
										<div class="media-body">
											<p>Féliciter  <strong>Folly ADOKPO</strong> pour le démarrage d'un nouveau film </p><span>15 octobre 12h32 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
										<div class="media-body">
											<p><strong>Joshua Gray</strong> Nouveau message reçu </p><span>13 octobre 02:56 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
										<div class="media-body">
											<p><strong>Elizabeth Lewis</strong> ajouter une nouvelle photo à sa galerie</p><span>12 octobre 22h40 </span>
										</div>
									</div>
								</div>
								<div class="dropdown-footer">
									<a href="#">Afficher toutes les notifications </a>
								</div>
							</div>
						</div>
						<div class="main-header-notification">
							<a class="nav-link icon" href="chat.html">
								<i class="fe fe-message-square header-icons"></i>
								<span class="badge badge-success nav-link-badge">6</span>
							</a>
						</div>
						<div class="dropdown main-profile-menu">
							<a class="d-flex" href="">
								<span class="main-img-user" ><img alt="avatar" src="../assets/img/artiste/artiste3-1.jpg"></span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<h6 class="main-notification-title">Agbodjan Tonou</h6>
									<p class="main-notification-text">Actrice</p>
								</div>
								<a class="dropdown-item border-top" href="profile.html">
									<i class="fe fe-user"></i> Mon profil 
								</a>
								<a class="dropdown-item" href="abonnement.html">
									<i class="fe fe-phone-call"></i> Mon abonnement 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-phone-call"></i> Editer le profil 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-settings"></i> Paramètres du compte 
								</a> 
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-compass"></i> Activité 
								</a>
								<a class="dropdown-item" href="signin.html">
									<i class="fe fe-power"></i> Se déconnecter 
								</a>
							</div>
						</div>
						<div class="dropdown d-md-flex header-settings">
							<a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
								<i class="fe fe-users color_miabart header-icons"></i>
							</a>
						</div>
						<button class="navbar-toggler navresponsive-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
							aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fe fe-eye header-icons navbar-toggler-icon"></i>
						</button><!-- Navresponsive closed -->
					</div>
				</div>
			</div>
			<!-- End Main Header-->

			<!-- Mobile-header -->
			<div class="mobile-main-header">
				<div class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
					<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
						<div class="d-flex order-lg-2 ml-auto">
							<div class="dropdown header-search">
								<a class="nav-link icon header-search">
									<i class="fe fe-search"></i>
								</a>
								<div class="dropdown-menu">
									<div class="main-form-search p-2">
										<div class="input-group">
											<div class="input-group-btn search-panel">
												<select class="form-control select2-no-search">
													<option label="Toutes categories">
													</option>
													<option value="Books">
													Books
													</option>
													<option value="Castings">
														Castings
													</option>
													<option value="Réseaux artistique">
														Réseaux artistique
													</option>
													<option value="Agenda+">
														Agenda +
													</option>
													<option value="NetConcert">
														NetConcert
													</option>
												</select>
											</div>
											<input type="search" class="form-control" placeholder="Search for anything...">
											<button class="btn search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
										</div>
									</div>
								</div>
							</div>
							<div class="dropdown main-header-notification flag-dropdown">
							<a class="nav-link icon country-Flag">
								<svg xmlns="http://www.w3.org/2000/svg" height="480" width="640" viewBox="0 0 640 480"><g fill-rule="evenodd" stroke-width="1pt"><path fill="#fff" d="M0 0h640v480H0z"/><path fill="#00267f" d="M0 0h213.337v480H0z"/><path fill="#f31830" d="M426.662 0H640v480H426.662z"/></g></svg>
							</a>
							<div class="dropdown-menu">
								<a href="#" class="dropdown-item d-flex ">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/french_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Anglais</span>
									</div>
								</a>
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/germany_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Allemand</span>
									</div>
								</a>
							 
								<a href="#" class="dropdown-item d-flex">
									<span class="avatar  mr-3 align-self-center bg-transparent"><img src="../assets/img/flags/spain_flag.jpg" alt="img"></span>
									<div class="d-flex">
										<span class="mt-2">Espagnol</span>
									</div>
								</a>
							</div>
						</div>
						<div class="dropdown ">
							<a class="nav-link icon full-screen-link">
								<i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
								<i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
							</a>
						</div>
						<div class="dropdown main-header-notification">
							<a class="nav-link icon" href="">
								<i class="fe fe-bell header-icons"></i>
								<span class="badge badge-danger nav-link-badge">4</span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<p class="main-notification-text">Vous avez 1 notification non lue <span class="badge badge-pill badge-primary ml-3">Voir tout </span></p>
								</div>
								<div class="main-notification-list">
									<div class="media new">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
										<div class="media-body">
											<p>Félicitez <strong>Olivia James</strong> pour le nouveau modèle qui commence</p><span>le 15 octobre à 12h32</span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
										<div class="media-body">
											<p><strong>Joshua Gray</strong> Nouveau message reçu </p><span>13 octobre 02:56 </span>
										</div>
									</div>
									<div class="media">
										<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
										<div class="media-body">
											<p><strong>Elizabeth Lewis</strong> ajout d'une nouvelle version du calendrier </p><span>12 octobre 22h40 </span>
										</div>
									</div>
								</div>
								<div class="dropdown-footer">
									<a href="#">Afficher toutes les notifications</a>
								</div>
							</div>
						</div>
						<div class="main-header-notification mt-2">
							<a class="nav-link icon" href="chat.html">
								<i class="fe fe-message-square header-icons"></i>
								<span class="badge badge-success nav-link-badge">6</span>
							</a>
						</div>
						<div class="dropdown main-profile-menu">
							<a class="d-flex" href="#">
								<span class="main-img-user" ><img alt="avatar" src="../assets/img/users/agbodjanTonou.jpg"></span>
							</a>
							<div class="dropdown-menu">
								<div class="header-navheading">
									<h6 class="main-notification-title">Agbodjan Tonou</h6>
									<p class="main-notification-text">Actrice</p>
								</div>
									<a class="dropdown-item border-top" href="profile.html">
									<i class="fe fe-user"></i> Mon profil 
								</a>
								<a class="dropdown-item" href="abonnement.html">
									<i class="fe fe-phone-call"></i> Mon abonnement 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-phone-call"></i> Editer le profil 
								</a>
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-settings"></i> Paramètres du compte 
								</a> 
								<a class="dropdown-item" href="profile.html">
									<i class="fe fe-compass"></i> Activité 
								</a>
								<a class="dropdown-item" href="signin.html">
									<i class="fe fe-power"></i> Se déconnecter 
								</a>
							</div>
						</div>
						<div class="dropdown  header-settings">
							<a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-right header-icons"><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></svg>
							</a>
						</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Mobile-header closed -->

			<!-- Horizonatal menu-->
			<div class="main-navbar hor-menu sticky">
				<div class="container">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="index.html"><i class="ti-home"></i>Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="books.html"><i class="si si-people"></i>Books</a> 
						</li>
						<li class="nav-item">
							<a class="nav-link" href="castings.html"><i class="ti-video-clapper"></i>Castings</a> 
						</li>
						<li class="nav-item">
							<a class="nav-link" href="reseaux.html"><i class="si si-graduation"></i>Réseaux</a>							
						</li>
						<li class="nav-item">
							<a class="nav-link" href="agendaplus.html"><i class="ti-announcement"></i>Agenda+</a> 
						</li>
						<li class="nav-item">
							<a class="nav-link" href="votes.html"><i class="ti-cup"></i>Votes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="netconcert.html"><i class="fe fe-tv"></i>NetConcert</a> 
						</li>
						<li class="nav-item">
							<a class="nav-link" href="actualite.html"><i class="ti-face-smile"></i>Actualités</a>							
						</li>
						<li class="nav-item">
							<a class="nav-link with-sub" href=""><i class="si si-grid"></i>Nos Produits</a>
							<ul class="nav-sub">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="bookcast.html">BookCast</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="boutikart.html">BoutkArt</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="bonadress.html">Bon-Adress</a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--End  Horizonatal menu-->


			<!-- Main Content-->
			<div class="main-content pt-0">

				<div class="container_profile_card"> 

						<!-- ROW-1 OPEN -->  

			            <div id="profile_miabartafrik_wrap">
			   
			              <div class="profile_miabartafrik_image"> 

			              	 <div id="landing-text">
						        <div id="landing-text-inner"> 
						          <a href="" class="btntelecharger" id="view-work" data-target="#affiche_modal" data-toggle="modal">
						            Affiche de l'évènement
						          </a>
						        </div>
						      </div>

			                
            			  </div>

			              <div class="profile_miabartafrik_card_content">

			                <div class="container-fluido no-padding">

						        <div class="cover" style="background-image: url(../assets/img/event/affiche.jpg);">
			        	<div class="miabartafrik-top clearfix">
		                    <a class="miabartafrik-icon miabartafrik-icon-prev" href="castingart.html"><span>LISTE DES Réseaux art.</span></a>

		                    <span class="right"><a class="" href=""><span>Nouveaux inscrits</span></a></span>
		                </div> 

			        </div>

			        <div class="cover-layer">
	                   <div class="container web-portion">
	                       <div class="row top-det">
	                           <div class="col-lg-5">

	                           		<div class="main-contact-info-header"> 
									 	<h3 class="bold_titre_eventfirst">
									 	Blueberry Tasting - The best of 2016 or whatever Blueberry Tasting - The best of 2016 or whatever
									   </h3> 
									</div>
									<a href="" class="btntelecharger" id="view-work" data-target="#affiche_modal" data-toggle="modal">
						            Affiche de l'évènement
						          </a>	  
									   
	                           </div>

	                           <div class="col-lg-3 eml-mob">
	                           	<div class="infos_plus_bookcast">
	                           		<ul>
								      <li> 
                                        <div class="desc">
                                          <h4>Type d'évènement</h4>
                                          <h3>ARB - HIP HOP</h3>
                                        </div>
                                      </li>
                                      <li> 
                                        <div class="desc">
                                          <h4>Date</h4>
                                          <h3 class="date"> 
                                            <span id="datestart">17.08.2021</span>  au 
                                            <span id="dateclosed">20.08.2021</span> 
                                          </h3>
                                        </div>
                                      </li>
                                      <li> 
                                        <div class="desc">
                                          <h4>Heure</h4>
                                          <h3>19:35:30</h3>
                                        </div>
                                      </li>
                                      <li> 
								    </ul>
 
								  </div>   
	                           </div>

	                           <div class="col-lg-4 eml-mob">

	                           	<div class="infos_plus_bookcast" style="padding: 0.5rem;">
                                    <ul> 
                                      <li> 
                                        <div class="desc">
                                          <h4>Tickets</h4>
                                          <h3>2500 FCFA | 5000 F CFA | 20 000 FCFA</h3>
                                        </div>
                                      </li> 
                                    </ul>
                                  </div>

	                       		<div class="infos_plus_bookcast">
								    <div class="detail-buttons" style="padding: 0.5rem;"> 
                                       <button class="detail-button" data-target="#ticket_event" data-toggle="modal" >  
                                         Payer un ticket 
                                       </button>
                                       <button class="mr_publier">  
                                        <div class="main-img-user online">
											<img alt="avatar" class="radius" src="../assets/img/artiste/pexels-ivan-siarbolin-3841891.jpg">
										</div>
                                       </button> 
                                    </div> 
								  </div>  

								  <div class="media-body">  
										<nav class="contact-info">
											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Togo"><i class="flag flag-tg"></i></a>
											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="356 392 (Vues)"><i class="fe fe-eye"></i> </a>

											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="5254 (J'aimes)"><i class="fe fe-heart"></i> </a> 

											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Contacter l'annonceur"><i class="fe fe-phone"></i></a>

											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Enrgistrer pour plus tard"><i class="fe fe-save"></i></a>

											<a href="#" class="contact-icon border tx-inverse" data-toggle="tooltip" title="" data-original-title="Publier"><i class="far fa-share-square"></i></a> 
										</nav>
									</div>
	                           </div>
	                       </div>
                       
                       </div>
			        </div>

			        <div class="cover-layer">
			        	 <div class="container_tabs">

									<section>
										<div class="tabs_miabartafrik tabs_miabartafrik-style-bar">
											<nav>
												<ul>
													<li><a href="#actualite_fiche_reseau" class="icon pe-7s-news-paper">
														<span>A propos de l'évènement</span></a>
													</li> 
													<li><a href="#photos_fiche_reseau" class="icon pe-7s-ticket">
														<span>Ticket/Réservation</span></a>
													</li>
													<li><a href="#artistes_fiche_reseau" class="icon pe-7s-camera">
														<span>Photos évènement</span></a>
													</li> 
													<li><a href="#contact_fiche_reseau" class="icon pe-7s-mail">
														<span>Contact</span></a>
													</li>
												</ul>
											</nav>
											<div class="content-wrap">

												<!-- ACTIVITY BOOK CARD START -->

												<section id="actualite_fiche_reseau">
													<div class="main-contact-info-body">
														<div>
															<h6>Présentation</h6>
															<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
															<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
														</div>
														<div class="media-list">
															<div class="media">
																<div class="media-body">
																	<div>
																		<label>Work</label> <span class="tx-medium">+1 (234) 567 8901</span>
																	</div>
																	<div>
																		<label>Personal</label> <span class="tx-medium">+1 (498) 021 0090</span>
																	</div>
																</div>
															</div>
															<div class="media">
																<div class="media-body">
																	<div>
																		<label>Gmail Account</label> <span class="tx-medium">sonia.taylor@gmail.com</span>
																	</div>
																	<div>
																		<label>Other Account</label> <span class="tx-medium">me@bootstrapdash.me</span>
																	</div>
																</div>
															</div>
															<div class="media">
																<div class="media-body">
																	<div>
																		<label>Current Address</label> <span class="tx-medium">012 Dashboard Apartments, San Francisco, California 13245</span>
																	</div>
																</div>
															</div>
															<div class="media mb-0">
																<div class="media-body">
																	<div>
																		<label>Call History</label> <span class="tx-medium">Duration of last call: 2m 32sec</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													  
												</section>

												<!-- ACTIVITY BOOK CARD END -->

												<!-- INFOS BOOK CARD START -->

												<section id="presentation_fiche_reseau"> 
													 												 
												</section>

												<!-- INFOS BOOK CARD END -->

												<!-- PHOTOS BOOK CARD START -->
												<section id="photos_fiche_reseau"> 
													<div class="demo-gallery ">
													<ul id="lightgallery" class="list-unstyled containergalbook detail-photo-grid">
														<li class="grid-item" data-responsive="../assets/img/media/artiste3-1.jpg" data-src="../assets/img/media/artiste3-1.jpg" data-sub-html="<h4>Gallery Image 1</h4>">
															<a href="" class="wd-100p"><img class="img-responsive wd-100p" src="../assets/img/media/artiste3-1.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/2.jpg" data-src="../assets/img/media/2.jpg" data-sub-html="<h4>Gallery Image 2</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/2.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/3.jpg" data-src="../assets/img/media/3.jpg" data-sub-html="<h4>Gallery Image 3</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/3.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/4.jpg" data-src="../assets/img/media/4.jpg" data-sub-html="<h4>Gallery Image 4</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/4.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/5.jpg" data-src="../assets/img/media/5.jpg" data-sub-html="<h4>Gallery Image 5</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/5.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/6.jpg" data-src="../assets/img/media/6.jpg" data-sub-html="<h4>Gallery Image 6</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/6.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/7.jpg" data-src="../assets/img/media/7.jpg" data-sub-html="<h4>Gallery Image 7</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/7.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/8.jpg" data-src="../assets/img/media/8.jpg" data-sub-html="<h4>Gallery Image 8</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/8.jpg" alt="Thumb-1"> </a>
														</li>
														<li class="grid-item" data-responsive="../assets/img/media/9.jpg" data-src="../assets/img/media/9.jpg" data-sub-html="<h4>Gallery Image 9</h4>">
															<a href="" class="wd-100p"><img class="img-responsive" src="../assets/img/media/9.jpg" alt="Thumb-1"> </a>
														</li>
													</ul>
													<!-- /Gallery -->
												</div>
												</section>
												<!-- PHOTOS BOOK CARD END -->

												<!-- MUSIQUE BOOK CARD START -->
												<section id="artistes_fiche_reseau">
													<p>Nos Artistes</p>
												</section>
												<!-- MUSIQUE BOOK CARD END -->


												<!-- VIDEOS BOOK CARD START -->
												<section id="grilletarifaire_fiche_reseau">
													<p>Grille tarifaire</p>
												</section>
												<!-- VIDEOS BOOK CARD END -->

												<!-- CONTACT BOOK CARD START -->
												<section id="contact_fiche_reseau">
													<p>Formulaire de contact</p>
												</section>
												<!-- CONTACT BOOK CARD END -->

											</div><!-- /content -->
										</div><!-- /tabs_miabartafrik -->
									</section>

									</div>
			        </div>

						         
						               
						    </div>  

						           
			 
			                    
			              </div>
			          </div>							 
					</div>
			</div>
			<!-- End Main Content-->

			<!-- Main Footer--> 
			<div class="main-footer text-center"> 
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span><a href="faqs.html">Faqs</a> | <a href="termes.html">Conditions Générale</a> | <a href="termes.html">Termes</a> </span>
						</div>
					</div>
				</div>
			</div>
			<!--End Footer-->
			
			<!-- copyright_mba--> 
			<div class="copyright_mba text-center"> 
				<div class="container">
					<div class="row row-sm">
						<div class="col-md-12">
							<span>Copyright © 2021 <a href="#">BookCast</a>. Conçu par <a href="https://www.osezconsult.com/">Osez Consult</a> Tous les droits sont réservés .</span>
						</div>
					</div>
				</div>
			</div>
			<!--End copyright_mba-->

			<!-- Sidebar -->
			<div class="sidebar sidebar-right sidebar-animate">
				<div class="sidebar-icon">
					<a href="#" class="text-right float-right text-dark fs-20" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x"></i></a>
				</div>
				<div class="sidebar-body">
					<h5>MES CONTACTS</h5>

					<div class="card main-content-left main-content-left-contacts">
						<div class="tab-menu-heading">
							<div class="tabs-menu1 ">
								<!-- Tabs -->
								<ul class="nav panel-tabs main-nav-line main-nav-line-chat d-flex pl-3 ">
									<li><a href="#all-contact" class="nav-link active mr-3" data-toggle="tab">Tout</a></li>
									<li><a href="#fav-contact" class="nav-link" data-toggle="tab">Favorits</a></li>
								</ul>
							</div>
						</div>
						<div class="panel-body tabs-menu-body p-0">
							<div class="tab-content">
								<div class="tab-pane active" id="all-contact">
									<div class="main-contacts-list" id="mainContactList">
										<div class="main-contact-label">
											A
										</div>
										<div class="main-contact-item selected">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/2.jpg"></div>
											<div class="main-contact-body">
												<h6>Abla Dotse</h6><span class="phone">+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
											<div class="main-contact-body">
												<h6>Arabia AMEGANVI</h6><span>archie@cantones.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar online">
												A
											</div>
											<div class="main-contact-body">
												<h6>Allan Rey Palban</h6><span>allanr@palban.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-secondary">
												A
											</div>
											<div class="main-contact-body">
												<h6>Aileen Mante</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											B
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/4.jpg"></div>
											<div class="main-contact-body">
												<h6>Brandon Dilao</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
											<div class="main-contact-body">
												<h6>Britney Labares</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-danger">
												B
											</div>
											<div class="main-contact-body">
												<h6>Brateyley Cruz</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											C
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/6.jpg"></div>
											<div class="main-contact-body">
												<h6>Camille Audrey</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>Christian Lerio</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Christopher Segovia</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											D
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/9.jpg"></div>
											<div class="main-contact-body">
												<h6>Darius Clayton</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/10.jpg"></div>
											<div class="main-contact-body">
												<h6>Dyanne Aceron</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/11.jpg"></div>
											<div class="main-contact-body">
												<h6>Divina Gracia</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="fav-contact">
									<div class="main-contacts-list" id="mainContactList1">
										<div class="main-contact-label">
											A
										</div>
										<div class="main-contact-item selected">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>Anna Sthesia</h6><span class="phone">+228-534-567-456</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Anna Mull</h6><span>annamul@gmail.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/4.jpg"></div>
											<div class="main-contact-body">
												<h6>AlFredo</h6><span>alfredo@gmail.com</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/11.jpg"></div>
											<div class="main-contact-body">
												<h6>Aileen Mante</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											B
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/5.jpg"></div>
											<div class="main-contact-body">
												<h6>Bernadette</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/9.jpg"></div>
											<div class="main-contact-body">
												<h6>Barry Mundy</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-avatar bg-danger">
												B
											</div>
											<div class="main-contact-body">
												<h6>Barb Akew</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											C
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/12.jpg"></div>
											<div class="main-contact-body">
												<h6>Charles</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Christopher</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/3.jpg"></div>
											<div class="main-contact-body">
												<h6>Connor</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-label">
											D
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/1.jpg"></div>
											<div class="main-contact-body">
												<h6>Deirdre</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user"><img alt="avatar" src="../assets/img/users/8.jpg"></div>
											<div class="main-contact-body">
												<h6>Dorothy</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
										<div class="main-contact-item">
											<div class="main-img-user online"><img alt="avatar" src="../assets/img/users/7.jpg"></div>
											<div class="main-contact-body">
												<h6>AVORGNO YAWO</h6><span>+228 90 34 05 34</span>
											</div>
											<a class="main-contact-star" href="">
												<i class="fe fe-star mr-1 text-warning"></i>
												<i class="fe fe-phone-call mr-1"></i>
												<i class="fe fe-eye"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
			</div>
			<!-- End Sidebar -->

		</div>

		<!-- TICKETS EVENT -->
		<div class="modal" id="ticket_event">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content modal-content-demo">
					<div class="modal-header">
						<h6 class="modal-title">Tickets évènement</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="row row-sm">
							<div class="col-md-6">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							</div>
							<div class="col-md-6">
								<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the who loves toil and pain can procureor sit aspernatur  system.</p>
							</div>
						</div>
						<div class="row row-sm">
							<div class="col-md-6">
								<p>expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure desires to obtain pain.</p>
							</div>
							<div class="col-md-6">
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat aut odit voluptatem.</p>
							</div>
						</div>
					</div>
					<div class="modal-footer"> 
						<button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<!--End TICKETS EVENT -->

		<!-- MODAL AFFICHE -->
		<div class="modal" id="affiche_modal">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-content-demo">
						<div class="modal-header">
							<h6 class="modal-title">Affiche évènement</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body1">
							<img src="../assets/img/event/affiche.jpg" class="imageaffichepub"> 
						</div> 
					</div>
				</div>
			</div>
		<!--End MODAL AFFICHE -->


		<!-- End Page -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>
		<script src="../assets/js/cbpFWTabs.js"></script>    
			<script>
				(function() {

					[].slice.call( document.querySelectorAll( '.tabs_miabartafrik' ) ).forEach( function( el ) {
						new CBPFWTabs( el );
					});

				})();
			</script>
		<!-- Jquery js-->
		<script src="../assets/plugins/jquery/jquery.min.js"></script>

		<!-- BookCast js-->
		<script src="../assets/js/bookcast.js"></script>

	

		<!-- Bootstrap js-->
		<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
		<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Internal Gallery js-->
		<script src="../assets/plugins/gallery/picturefill.js"></script>
        <script src="../assets/plugins/gallery/lightgallery.js"></script>
		<script src="../assets/plugins/gallery/lightgallery-1.js"></script>
        <script src="../assets/plugins/gallery/lg-pager.js"></script>
        <script src="../assets/plugins/gallery/lg-autoplay.js"></script>
        <script src="../assets/plugins/gallery/lg-fullscreen.js"></script>
        <script src="../assets/plugins/gallery/lg-zoom.js"></script>
        <script src="../assets/plugins/gallery/lg-hash.js"></script>
        <script src="../assets/plugins/gallery/lg-share.js"></script>

		<!-- Sidebar js -->
		<script src="../assets/plugins/sidebar/sidebar.js"></script>

		<!-- Select2 js-->
		<script src="../assets/plugins/select2/js/select2.min.js"></script>

		<!-- Sticky js -->
		<script src="../assets/js/sticky.js"></script>

		<!-- Modal js-->
		<script src="../../assets/js/modal.js"></script>

		<!-- Custom js -->
		<script src="../assets/js/custom.js"></script>

	</body>
</html>